  <br><br><br>
    <!-- <body style="color:skyblue;">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHECHLIST OF DOCUMENTS </h1>
        <hr size="1" width="90%" color="blue"> 
      
       
        </body> -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

        <div style="color:skyblue;">
          <h1 align="center"> CHECKLIST OF DOCUMENTS </h1>
      </div>
        <div id="container">
            <div class="d-flex">
                <div class="leftline border-bottom border-primary pt-3 "></div>
                <div class="nomination-title border-top border-start border-end 
                border-primary px-10 py-2 text-center text-primary text-uppercase">
                CHECKLIST OF DOCUMENTS</div>
                <div class="rightline border-bottom border-primary pt-3"></div>
            </div>
            <br>
        <div>
        
        
        <!-- </div>
<meta name="viewport" content="width=device-width, initial-scale=2">
<div class="topnav">
  <h3>List Of Documents</h3>
</div> -->
<div>
  <h3 class="p-1" style="background-color: lightgrey">LIST OF DOCUMENTS</h3>
</div>

<form action="/action_page.php">
  <input type="checkbox" id="1" name="1" value="false" (click)="onWorkProof()">
  <label for="1"> Proof of your Total work experience: Offer letters,relieving letters / Service certificates, which clearly specified your date of joining as well as the last working day.</label><br>
  <input type="checkbox" id="2" name="2" value="false" (click)="onLast6()">
  <label for="2"> The last 6 month's Pay Slips and corresponding bank statements</label><br>
  <input type="checkbox" id="3" name="3" value="fasle" (click)="onform16()">
  <label for="3"> Form 16 from your current/previous empolyer-of the last FY </label><br>
  <input type="checkbox" id="4" name="4" value="fasle" (click)="onRelievingLetter()">
  <label for="4"> The Relieving letter from your last employer-if you are not employed now</label><br>
  <input type="checkbox" id="onOfferLetterCurrentOrganization" name="onOfferLetterCurrentOrganization" value="fasle"  (click)="onOfferLetterCurrentOrganization()">
  <label for="5"> Offer letter specifying the DOJ at your current organization</label><br>
  <input type="checkbox" id="6" name="6" value="fasle" (click)="onSalaryProof()">
  <label for="6"> Proof of the recent salary hike,viz. Letter or email,if any</label><br>
  <input type="checkbox" id="7" name="7" value="fasle" (click)="onQualification()">
  <label for="7"> Qualification:Proof of the same,as applicable</label><br>
  <input type="checkbox" id="AnyID" name="AnyID" value="fasle" (click)="onAnyId()">
  <label for="8"> Passport / Aadhar and PAN card(mandatory)</label><br>
</form>
<br>
<div style="color:skyblue;">

    &nbsp;&nbsp;  &nbsp;&nbsp;  <input hidden type="file" name="file" id="file"  />
    <!-- <label for="file"><a>Upload file</a></label> -->
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
    
</div>
<br><br>
<table>
    <tr>
      <th>DOCUMENT<br><br>NAME</th>
      <th>UPLOADED<br><br>BY</th>
      <th>DATE<br><br>TIME</th>
      <th>SIZE</th>
      <th>PREVIEW</th>
      <th>ACTIONS</th>
    </tr>
    <tr>
      <td> <input hidden type="file" name="file" id="file"  />
        <label for="file"><a><u>Select files</u></a></label></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>