  <!-- <br><br><br>
    <body style="color:skyblue;">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHECHLIST OF DOCUMENTS </h1>
        <hr size="1" width="90%" color="blue"> 
      
       
        </body> -->
<div>
  <h3 class="p-1" style="background-color: lightgrey">LIST OF DOCUMENTS</h3>
</div>

<form action="/action_page.php">
  <input type="checkbox" id="1" name="1" value="false" (click)="onWorkProof()">
  <label for="1"> Proof of your Total work experience: Offer letters,relieving letters / Service certificates, which clearly specified your date of joining as well as the last working day.</label><br>
  <input type="checkbox" id="2" name="2" value="false" (click)="onLast6()">
  <label for="2"> The last 6 month's Pay Slips and corresponding bank statements</label><br>
  <input type="checkbox" id="3" name="3" value="fasle" (click)="onform16()">
  <label for="3"> Form 16 from your current/previous empolyer-of the last FY </label><br>
  <input type="checkbox" id="4" name="4" value="fasle" (click)="onRelievingLetter()">
  <label for="4"> The Relieving letter from your last employer-if you are not employed now</label><br>
  <input type="checkbox" id="onOfferLetterCurrentOrganization" name="onOfferLetterCurrentOrganization" value="fasle"  (click)="onOfferLetterCurrentOrganization()">
  <label for="5"> Offer letter specifying the DOJ at your current organization</label><br>
  <input type="checkbox" id="6" name="6" value="fasle" (click)="onSalaryProof()">
  <label for="6"> Proof of the recent salary hike,viz. Letter or email,if any</label><br>
  <input type="checkbox" id="7" name="7" value="fasle" (click)="onQualification()">
  <label for="7"> Qualification:Proof of the same,as applicable</label><br>
  <input type="checkbox" id="AnyID" name="AnyID" value="fasle" (click)="onAnyId()">
  <label for="8"> Passport / Aadhar and PAN card(mandatory)</label><br>
</form>
<br>
<div style="color:skyblue;">

    &nbsp;&nbsp;  &nbsp;&nbsp;  <input hidden type="file" name="file" id="file"  />
    <label for="file"><a>Upload file</a></label>
    <!-- <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <a (click)="onUpload()" 
>        Upload</a> -->
    
</div>
<br><br>
<table>
    <tr>
      <th>DOCUMENT<br><br>NAME</th>
      <th>UPLOADED<br><br>BY</th>
      <th>DATE<br><br>TIME</th>
      <th>SIZE</th>
      <th>PREVIEW</th>
      <th>ACTIONS</th>
    </tr>
    <tr class="blank_row">
      <td colspan="10"> <input hidden type="file" name="file" id="file"  />
        <!-- <label for="file"><a><u>Select files</u></a></label></td> -->
        <select name="Documents-type" id="Documents-type">
          <option value="offer letter of previous employer">Offer letter of previous employer</option>
          <option value="relieving letter of previous employer">Relieving letter of previous employer</option>
          <option value="service certificates of previous employer">Service certificates of previous employer</option>
          <option value="last 6th month pay slip">Last 6th month pay slip</option>
          <option value="last 5th month pay slip">Last 5th month pay slip</option>
          <option value="last 4th month pay slip">Last 4th month pay slip</option>
          <option value="last 3rd month pay slip">Last 3rd month pay slip</option>
          <option value="last 2nd month pay slip">Last 2nd month pay slip</option>
          <option value="last 1st month pay slip">Last 1st v month pay slip</option>
          <option value="form 16">Form 16 from your current or previous employer</option>
         <option value="Relieving Letter not employed">Relieving Letter from your last employer if you are not employed right now</option>
         <option value="Offer Letter">Offer Letter specifying the date of joining at your current organization</option>
          <option value="Proof of recent salary">Proof of recent salary hike,viz letter or email,if any</option>
          <option value="bachelor Certificate/degree certificates">Bachelor Certificate/Degree Certificate</option>
          <option value="provisional Certificate">Bachelor/Degree Provisional Certificate</option>
          <option value="bachelor Certificate">Bachelor Certificate</option>
          <option value="pg Certificate">PG Certificate</option>
          <option value="pg provisional Certificate">PG Provisional Certificate</option>
          <option value="Passport">PASSPORT</option>
          <option value="aadhar">Aadhar</option>
          <option value="pan card">PAN CARD</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      <!-- <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td> -->
    </tr>
  </table>
  <br><br>
<br>
  <div class="col-sm-3" >
    <button type="button" class="btn btn-outline-primary">EXIT</button>
</div>
<div class="col-sm">
    <button type="button" class="btn btn-primary">SAVE</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-primary">SAVE AND CONTINUE</button>
</div>

